@import 'reset';
@import 'themes/dark';
@import 'themes/light';
@import 'variables/global';

.app {
    font: var(--font-m);
    background: var(--bg-color);

    //background: lightblue;
    color: var(--primary-color);
    min-height: 100vh;
}

.content-page{
    display: flex;
}

.page-wrapper{
    flex-grow: 1;
    padding: 20px;
}

.switchers{
    position: absolute;
    bottom: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
}