.header {
  // position: relative;
  // z-index: 2;
  // padding: 10px;
  // display: flex;
  // align-items: center;
  // margin-bottom: 20px;
  // justify-content: space-between;
  padding: 20px;
  text-align: center;
  font-size: 24px;
  color: var(--text-color);
 background: var(--bg-header);
}

.userIcon {
  font-size: 26px;
  margin-right: 12px;
}

@media (min-width: 768px) {
}

@media (max-width: 767px) {
}
