.header {
  z-index: 2;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--text-color);
  background: var(--bg-header);
  border-bottom: 1px solid saddlebrown;
}

.logo {
  width: 50px;
 }

.userIcon {
  font-size: 26px;
  margin-right: 12px;
}
