/* src/styles/themes.css */
:root {
    --background-color: rgb(216, 255, 222);
    --text-color: rgb(8, 8, 8);
    --bg-header:  radial-gradient(
      circle at 10% 20%,
      rgb(255, 254, 252) 39.5%,
      rgba(91, 4, 125, 0.305) 100.2%
    );
  }
  
  [data-theme='dark'] {
    --background-color: rgb(35, 51, 94);
    --text-color: white;
    --bg-header: linear-gradient(90deg, #00d2ff, #3a7bd5);
  }
  
  body {
    background-color: var(--background-color);
    color: var(--text-color);
  }
  