.app.dark{
    --bg-color: #05f;
    --inverted-bg-color: #f00;
    --primary-color: #e1ff00;
    --secondary-color:  #a3df72;
    --inverted-primary-color: #1773fdb1;
    --inverted-secondary-color:  green;

}
