.app.light{
    --bg-color: linear-gradient(62deg, #fffefc 0%, #642e7a 100%);
    ;









    
    --inverted-bg-color: #68f774; 
    --primary-color: #1773fdb1;
    --secondary-color:  green;
    --inverted-primary-color: #ff4800;
    --inverted-secondary-color:  #c3676f;

}