.text{
    color: var(--text-color);
    .links{
        color: var(--text-color);
    }

   background: var(--bg-header);
   padding-left: 2em;
padding-bottom: 1em;


}

.lastWord{
    text-transform: capitalize;
}



