.topNav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to left, #f46b45, #eea849);
  color: #fff;
  height: 50px;
  padding: 1em;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
  transition: all 400ms cubic-bezier(0.23, 1, 0.32, 1);
}

.menu.open {
  flex-direction: column;
  width: 100%;
  position: absolute;
  top: 50px;
  left: 0;
  background-color: #222;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  width: 100%;
  color: white;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menuButton,
.menuButton::before,
.menuButton::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menuButton::before {
  content: "";
  margin-top: -8px;
}

.menuButton::after {
  content: "";
  margin-top: 8px;
}

#menu-toggle:checked + .menuButtonContainer .menuButton::before {
  margin-top: 0;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menuButtonContainer .menuButton::after {
  margin-top: 0;
  transform: rotate(-405deg);
}

@media (max-width: 700px) {
  // Adjust this value based on your design needs
  .menu-button-container {
    display: flex; // Only display the menu button on small screens
  }

  .menu {
    display: none; // Initially hide the full menu on small screens

    &.open {
      display: flex; // Display the menu when open
      flex-direction: column;
      position: absolute;
      top: 50px; // Adjust this value based on your actual navbar height
      width: 100%;
      background-color: #fff; // Change color based on your theme
    }
  }
}
