
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #1d1e22
}

.layout-dark {
  background: #1d1e22;
}

.layout-light {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(255, 254, 252) 39.5%,
    rgba(100, 46, 122, 0.23) 100.2%
  );
  color: #474040;
}

.card-dark {
  background-color: #5e749c;
  border: white solid 1px;
}

.card-light {
  background-color: rgba(253, 253, 253, 0.805);
}
