.ExerciseDetailsPage {
  .checkIconContainer {
    @keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }

    @keyframes fadeOut {
      from {
        opacity: 1;
      }
      to {
        opacity: 0;
      }
    }

    .fadeIn {
      animation: fadeIn 0.5s ease-in-out;
    }

    .fadeOut {
      animation: fadeOut 0.5s ease-in-out;
    }
    
  }
}

.exerciseInput{
  width: 100%;
 // display: block; /* Ensure the input is on its own line */
  box-sizing: border-box;
}

.exPar{
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  .exerciseInput {
   min-width: 4em;
   min-height: 10px;
   }
   .exPar{
     font-size: 15px;
  
   }
  }